body
{
	border: 2px solid yellow;   /* set visual border, ddddeleteddd--*/
	margin: 50px;				 		/*- set margin from left -*/
	background-color: #F8F8F8;          /*- set background color -*/
	font-size: 18px;					/*- set default text size -*/
}
